.list-group {
  text-align: center;
}

.list-group-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  background-color: transparent !important;
  border: none !important;
}

p {
  font-size: 30px; 
}

.btn-primary:hover {
  background-color: #f2f2f2 !important;
}